appsettings.json	
.vs/
.bin/
.obj/
.idea	
.idea/
appsettings.Development.json
appsettings.Local.json
appsettings.json
ToDoAppl\backend\todoapi\.obj/Debug/net9.0
.obj/Debug/net9.0
.obj/Debug/net9.0/

.vs
ToDoAppl\backend\todoapi\appsettings.json
ToDoAppl\backend\todoapi\.vs
ToDoAppl\backend\todoapi\.bin
ToDoAppl\backend\todoapi\.idea
ToDoAppl\backend\todoapi\.obj
